{% extends 'base.html.twig' %}

{% block title %}Group Blue - About Us{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block body %}
  <div id="about"></div>
{% endblock %}
