{% extends 'base.html.twig' %}

{% block title %}Group Blue - Hasher{% endblock %}

{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block body %}
  <div class="container" style="margin-top: 50px">
    <h1>Hash your password</h1>
    {{ form(form) }}

    {{ hash }}
  </div>
{% endblock %}
