{% extends 'base.html.twig' %}

{% block title %}Group Blue - Admin Panel{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
  <div id="admin" data-name="{{ app.user.name }}"></div>
{% endblock %}
