{% extends 'base.html.twig' %}

{% block title %}Group Blue - Contact{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block body %}
  <div id="contact" data-unsubscribe="{{ unsubscribe }}"></div>
{% endblock %}
