<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('language') }}
        {{ encore_entry_script_tags('navbar') }}
        {{ encore_entry_script_tags('footer') }}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% if is_granted("ROLE_USER") %}
            <div id="navbar" data-user="{{ app.user.name }}"></div>
        {% else %}
            <div id="navbar" data-user="none"></div>
        {% endif %}
        <div style="color: #151554">
          {% block body %}{% endblock %}
        </div>
        <div id="footer" class="mt-auto"></div>
        {{ piwik_code() }}
    </body>
</html>
